$colorHover: #1d12f5;
$tamanioTituloh5:32px;
$tamanioTexto:20px;

$justify:(
    start:start,
    center:center,
    end:end,
    around:space-around,
    evenly:space-evenly,
    between:space-between
);

$colores:(
    primario:#Df3F1D,
    secundario:#EDA0AB,
    terciario:#6C63FF,
);

$btn:(
    padding:10px 15px,
    border:0,
    border-radius:5px,
);